
#breadcrumb {
    margin: 0;
}

#container {
    position: relative;
    padding-bottom: 39px; /* For the controls. */
    background-color: #000;
}

#video {
    margin: 0 auto;
}

.vjs-default-skin .vjs-controls.vjs-fade-in, .vjs-default-skin .vjs-controls.vjs-fade-out {
    visibility: visible !important;
    opacity: 1 !important;
    transition-duration: 0s !important;
}

.vjs-default-skin .vjs-controls {
    bottom: -39px;
}

.vjs-time-controls {
    width: 8em !important;
}

.vjs-progress-control {
    left: 8em !important;

    /* Obscure the time remaining. */
    right: 0 !important;
}

.vjs-loading-spinner {
    display: none !important;
}


h2 {
    font-size: 20px;
    line-height: 24px;
}

#description {
    margin: 0 2em;
}

#history {
    list-style-type: none;
}

#history-container {
    margin: 0 2em;
}

#history .event-type-Note {
    position: relative;
    left: 60px;
}

#history .event-type-Version:hover {
    opacity: 1;
}

#history h3 {
    font-size: 14px;
    line-height: 18px;
    margin: 0;
}

#history h3 .type {
    text-decoration: underline;
    font-weight: bold;
}

#history .created-by-image {
    max-width: 60px;
    max-height: 60px;
    margin-bottom: 12px;
}

#history .event-type-Version .created-by-image {
    max-width: 40px;
    max-height: 40px;
}

#history .tagline {
    color: #888;
}

#history .tagline strong {
    color: #444;
}

#history .links {
    margin: 6px 0;
}

