<!doctype html>

<head>
    <title>{{ entity['type'] }}: {{ entity.get('code') or entity.get('name') or entity['id'] }}</title>

    <link rel="icon" type="image/png" href="/favicon.png" />
    
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" />
    <link rel="stylesheet" href="//vjs.zencdn.net/c/video-js.css">
    <link rel="stylesheet" type="text/css" href="{{ static('/css/view_one.css') }}" />

    <script>
        var entity_type = {{ entity['type'] | tojson | safe }};
        var entity_id = {{ entity['id'] | tojson | safe }};
        var user_id = {{ session.get('user_id', 0) | int | tojson | safe }};
    </script>

<body>

<ul id="breadcrumb" class="breadcrumb">
    {% for entity in breadcrumbs %}
        <li>
            <small>{{ entity['type'] }}:</small>
            <a href="https://keystone.shotgunstudio.com/detail/{{ entity['type'] }}/{{ entity['id'] }}">
                {{ entity.get('code') or entity.get('name') }}
            </a>
            {% if entity['type'] != 'Version' %}
                <span class="divider">/</span>
            {% endif %}
        </li>
    {% endfor %}
</ul>

<div id="container">
    <video id="video" class="video-js vjs-default-skin" data-setup="{}"
        controls preload="auto" autoplay loop>
        <source type="video/mp4" src="{{ video_url }}"></source>
    </video>
</div>

<div id="description"><h2>Description:</h2><p>

    {% if not entity.get('description') %}
        <em>No description</em>
    {% else %}
        {{ entity['description'] }}
    {% endif %}

</p></div>

<div id="history-container">
    <h2>Related History:</h2>
    <ol id="history" class="clearfix">

        <script id="history-note-template" type="text/x-handlebars-template">{% raw %}
            <li class="event">
                {{# created_by.image }}
                    <img class="created-by-image img-polaroid" src="{{ this }}" >
                {{/ created_by.image }}
                {{^ created_by.image }}
                    <img class="created-by-image img-polaroid" src="http://robohash.org/generic-{{ created_by.id }}.png?size=128x128&bgset=bg2" >
                {{/ created_by.image }}
                <h3><a href="https://keystone.shotgunstudio.com/detail/{{type}}/{{id}}">
                    <span class="type">{{ type }}</span>
                </a></h3>
                <div class="content">
                    {{ content }}
                </div>
                <div class="tagline">
                    Posted by <span class="created-by">{{ created_by.name }}</span>
                    at <span class="created-at">{{ created_at }}</span>.
                </div>

                <ul class="links">
                    {{# each links }}
                        <li class="label label-info">
                            <a href="https://keystone.shotgunstudio.com/detail/{{type}}/{{id}}">
                                {{type}} "{{code}}"
                            </a>
                        </li>
                    {{/each}}
                </ul>
            </li>
        {% endraw %}</script>

        <script id="history-version-template" type="text/x-handlebars-template">{% raw %}
            <li class="event">
                {{# user.image }}
                    <img class="created-by-image img-polaroid" src="{{ this }}" >
                {{/ user.image }}
                {{^ user.image }}
                    <img class="created-by-image img-polaroid" src="http://robohash.org/generic-{{ user.id }}.png?size=128x128&bgset=bg2" >
                {{/ user.image }}
                <h3><a href="https://keystone.shotgunstudio.com/detail/{{type}}/{{id}}">
                    <span class="type">{{ type }}</span>: {{ code }}
                </a></h3>
                <div class="content">
                    {{ description }}
                </div>
                <div class="tagline">
                    Created by <span class="created-by">{{ user.name }}</span>
                    at <span class="created-at">{{ created_at }}</span>.
                </div>
            </li>
        {% endraw %}</script>

        <li id="note-form-li" class="note">

            <img id="note-form-avatar" class="created-by-image img-polaroid" src="http://robohash.org/no_user_id.png?size=128x128&bgset=bg2" >

            {% if session.get('user_id') %}
                <form id="note-form" method="post" action="{{ url_for('new_note_api') }}">
                    <fieldset>


                        <input type="hidden" name="version_id" value="{{ latest_version['id'] }}">

                        <textarea name="content" placeholder="Write a new note!"></textarea>
                        <br>
                        <button class="btn btn-primary">Post New Note</button>

                    </fieldset>
                </form>
            {% else %}

                <p><strong>Unknown user: cannot comment!</strong></p>
                <p>Please use the action menu in Shotgun to get here every now and
                    again so that we can figure out who you are.</p>

            {% endif %}

        </li>

    </ol>
</div>


<!-- Scripts load at the very end. -->
<script src="//vjs.zencdn.net/c/video.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.rc.2/handlebars.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="{{ static('/js/view_one.js') }}"></script>
