<!doctype html>

<head>
    <title>Latest Version of {{ entity['type'] }} {{ entity['id'] }}</title>

    <link rel="icon" type="image/png" href="/favicon.png" />
    
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" />
    <link rel="stylesheet" href="//vjs.zencdn.net/c/video-js.css">
    <link rel="stylesheet" type="text/css" href="{{ static('/css/view_one.css') }}" />

    <script>
        var entity_type = {{ entity['type'] | tojson | safe }};
        var entity_id = {{ entity['id'] | tojson | safe }};
    </script>

<body>


<div id="container">
    <video id="video" class="video-js vjs-default-skin" data-setup="{}"
        controls autobuffer preload="auto" autoplay loop>
        <source type="video/mp4" src="{{ video_url }}"></source>
    </video>
</div>


<div id="notes-container">
    <h2>Notes (<span id="notes-count">...</span>):</h2>
    <ol id="notes">
        <script id="note-template" type="text/x-handlebars-template">{% raw %}
            <li class="note">
                <h3>{{ subject }}</h3>
                {{#if created_by.image }}
                    <img class="note-created-by-image" src="{{ created_by.image }}" />
                {{/if}}
                <div class="note-content">
                    {{ content }}
                </div>
                <div class="note-tagline">
                    Posted by <span class="note-created-by">{{ created_by.name }}</span>
                    at <span class="note-created-at">{{ created_at }}</span>.
                </div>
            </li>
        {% endraw %}</script>
    </ol>
</div>



<!-- Scripts load at the very end. -->
<script src="//vjs.zencdn.net/c/video.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.rc.2/handlebars.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="{{ static('/js/view_one.js') }}"></script>
